# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Editor files
.vscode/
.idea/

# System files
.DS_Store

#model
models/
models/all-MiniLM-L6-v2

# Test and debug files
*test*.py
debug*.py
diagnose*.py
validate*.py
*_test.py
models/all-MiniLM-L6-v2
